body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  font-size: 19px;
  margin-bottom: 20px;
}

#guessContainer {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

#inputBox {
  height: 22px;
  width: 33%;
  border-radius: 4px;
  border: solid;
  border-color: rgb(184, 184, 184);
  padding: 5px;
  font-size: 13px;
}

#submitBtn {
  border-radius: 4px;
  height: 36px;
  width: 25%;
  border: none;
  margin-left: 10px;
  background-color: rgb(184, 184, 184);
  color: white;
  transition: background-color 0.25s;
  font-size: 13px;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: rgb(5, 98, 134);
}

#message {
  display: block;
  font-size: medium;
  margin-top: 15px;
  font-weight: bold;
}
